.body {
    background-color: rgb(117, 121, 191);
    padding: 1rem;
}

.navbar {
    border-radius: 20px;
    background-color: rgb(42, 48, 165);
}

.btnsearch {
    border-radius: 20px;
    background-color: rgba(45, 5, 97, 0.25) ; 
    color: #fff !important; 
    border: none !important; 
}
.btnsearch:hover {
    background-color: rgba(219, 210, 231, 0.25);
}

.dropdown-menu {
    background-color: rgb(42, 48, 165) !important; 
}

.dropdown-item {
    color: #fff !important; 
}

.dropdown-item:hover {
    background-color: rgba(219, 210, 231, 0.25) !important; 
    color: rgb(42, 48, 165) !important; 
}

.form-control:focus {
    border-color: rgba(45, 5, 97, 0.25) ; 
    box-shadow: 0 0 0 0.25rem rgba(45, 5, 97, 0.25) ; 
    outline: none;
}
.carousel {
    max-height: 400px; 
}
.carousel-item img {
    max-height: 400px; 
    width: 100%; 
    object-fit: cover; 
}
.card {
    background-color: rgba(195, 184, 224, 0.9)!important; /* Svetla pozadina za card */
    border: 2px solid rgb(42, 48, 165); /* Tamna ivica da odgovara boji navigacije */
    border-radius: 15px; /* Zaobljeni uglovi */
    color: rgb(42, 48, 165); /* Tamniji tekst za bolji kontrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka da se card istakne */
}

.card-title {
    color: rgb(45, 5, 97); /* Tamnija boja za naslov */
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem; /* Lagano povećanje fonta za tekst unutar card-a */
    color: rgb(42, 48, 165); /* Da se slaže s ostatkom sajta */
}

